#products .title-section {
  text-align: center;
  margin: 48px 0;
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}
.kotakbawahproduct {
  width: 1423px;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.kotakproduct1,
.kotakproduct2,
.kotakproduct3 {
  width: 33.33%;
  padding-left: 120px;
  color: white;
}
.footerproduct {
  color: white;
  text-align: center;
  padding-bottom: 5px;
}
